<nav class="p-5 bg-white  md:flex md:items-center md:justify-around">
  <div class="flex justify-between items-center">
    <span class="text-2xl font-[Poppins] cursor-pointer">
      <img class="h-10 inline" src="/assets/images/Logo-main.png">

    </span>
    <span class="text-3xl cursor-pointer mx-2 md:hidden block">
      <ion-icon name="{{flag ? 'close':'menu'}}" (click)="Menu()"></ion-icon>
    </span>
  </div>
  <ul
    class="md:flex md:items-center z-[1] md:z-auto md:static absolute bg-white w-full left-0 md:w-auto md:py-0 py-4 md:pl-0 pl-7 md:opacity-100 opacity-0 top-[-400px] transition-all ease-in duration-500">

    <li *ngFor="let item of headerItem" class=" my-6 md:my-0">
      <div class='grid md:grid-cols-2 grid-cols-2  '>
        <img class='col-end-1 w-[30px] mx-3 my-4' src="/assets/images/{{item.image}}" alt='/' />
        <div class='columns-auto flex flex-col justify-center '>
          <p class='text-[#0A293B] text-[18px] font-bold'>{{item.title}}</p>
          <p class="text[#0A293B] text-[14px]">
            {{item.data}}
          </p>
        </div>
      </div>
    </li>


    <li class=" my-6 md:my-0">
      <button
        class="bg-[#00A4C5] text-[16px] text-white font-[Poppins] duration-500 px-6 py-2 mx-4 hover:bg-cyan-500 rounded">Contact
        Us</button>
    </li>
  </ul>
</nav>
